@font-face {
  font-family: 'Bentham';
  src: url('./Bentham-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin Italic';
  src: url('./LibreFranklin-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./LibreFranklin-VariableFont_wght.ttf') format('truetype');
}